* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  margin: 0;
  background-color: #313131;
  color: gray;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto auto;

  grid-template-areas: 
  "sobre projeto"
  "formulario formulario"
  "footer footer";
}

header {
  text-align: center;
  background-color: beige;
  padding: 40px;
  font-size: 30px;
  color: #222;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

ul {
  font-size: 20px;
}

#lipe{
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 50px;
  border: 4px solid beige;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.sobre{
  grid-area: sobre;
  background-color: #3a3a3a;
  padding: 25px;
  margin: 20px;
  border-radius: 12px;
  border: 4px solid beige;
}

.projeto{
  grid-area: projeto;
  background-color: #3a3a3a;
  padding: 25px;
  margin: 20px;
  border-radius: 12px;
  border: 4px solid beige;
}

#slayTheSpire{
  display: block;
  margin: 0 auto;
  width: 250px;
  border-radius: 50px;
  border: 4px solid beige;
}

.formulario{
  grid-area: formulario;
  background-color: #3a3a3a;
  padding: 25px;
  margin: 20px;
  border-radius: 12px;
  border: 4px solid beige;
  font-size: 20px;
}

.form-fields {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a{
  border: 2px solid beige;
  padding: 12px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: beige;
  transition: 0.3s;
}

nav a:hover{
  background-color: beige;
  color: #313131;
}

footer{
  text-align: center;
  padding: 20px;
  background-color: #222;
}